body {
	background-color: lightblue;
}
h1 {
	text-align: center;
}
#googleMap {
	width: 900px;
	height: 600px;
	border: 10px groove red;
	float: left;
	margin-left: 7.5%;
}
#enterCoords {
	float: right;
	margin-right: 7.5%;
	font-size: 1.5em;
}
#coordsForm fieldset {
	width: 75%;
	white-space: normal;
}
#coordsForm fieldset ul li {
	list-style-type: none;
	margin-top: 2%;
}
#submitCoords, #reset {
	margin-top: 5%;
	padding: 1%;
	height: 50px;
	background-color: pink;
	font-size: 1.1em;
	font-weight: bold;
}
li.button {
	margin-right: 5%;
	display: inline;
}